<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".html" #>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>
			TextTemplateHomework
		</title>
		<style>
			body, div, p, a, ul, li, input, label {
				margin: 0;
				padding: 0;
			} 

			#base {
				margin: 50px;
				background-color: #d0e4fe;
			}
		</style>
	</head>
	<body>
		<div id="base">
			<a href="https://github.com/Borayvor/SASS_Homework">homework
			</a>
		</div>
	</body>
</html>